/* stylesheet */
.container {
    padding-bottom: 90px;
    }

body {
    position: relative;
    min-height: 100vh;
    }

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 18px;
    background: lightcoral;
    text-align: center;
    margin-top: 20px;
    }

.spacer {
    padding: 25px 0 0 0;
    }

path.line {
    fill: none;
    stroke:red;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 70px;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    color: black;
    background: white;
    border: 0;
    border-radius: 10px;
}

#selButton {
    background-color:red; 
    border: black;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.sub-title {
    color: black;
}