/* stylesheet */
.container {
    padding-bottom: 90px;
    }

body {
    position: relative;
    min-height: 100vh;
    }

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 18px;
    background: lightcoral;
    text-align: center;
    margin-top: 20px;
    }

.spacer {
    padding: 25px 0 0 0;
    }

path.line {
    fill: none;
    stroke:red;
}

.tooltip {
    position: absolute;
    width: 120px;
    height: 70px;
    padding: 10px;
    font: 12px sans-serif;
    text-align: center;
    color: black;
    background: white;
    border: 0;
    border-radius: 10px;
}


/* .bar {
    fill: lightcoral;
}

.bar:hover {
    fill:green;
} */

.sub-title {
    color: black;
}